*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../Imagens/Site_Noticias/fundo.png) repeat-x;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*Topo*/

#topo{
    height: 160px;
    background: url(../Imagens/Site_Noticias/detalhe-topo.png) no-repeat right top;
    padding: 10px;
}

#topo ul{
    background: #b10333;
    margin-top: 30px;
    float: left;
}

#topo ul li{
    float: left;
}

#topo ul a{
    color: white;
    text-decoration: none;
    font-size: 1em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2em;
    background: url(../Imagens/Site_Noticias/divisor.png) no-repeat left center;
}

#topo ul .primeiro a{
    background: none ;
}

#topo ul a:hover{
    color: #69001d;
}

body.home #Navegacao a#home,
body.brasil #Navegacao a#brasil{
    color: fff;
    background: #de003e;
    cursor: text;
}


/*Conteudo*/

#conteudo{
    background-color: #f5f5f5;
    margin-top: 60px;

}

#lateral{
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#primario{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#duas-colunas #primario{
    width: 555px;
}

#uma-coluna #primario{
    width: 750px;
    margin: 0 0 20px 0;
}

#secundario{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

/*Formatando paragrafos*/

.destaque p{
    line-height: 1.1;
}

.destaque a{
    color: red;
}

/*Formatando Cabeçalhos*/

.destaque h3{
    font-size: 0.8em;
    padding: 3px;
    text-transform: uppercase;
    background-color: red;
    display: inline;
    color: white;
}

/*Formantando imagens*/

.destaque img{
    width: 100%;
    margin-top: 5px;
    border: 2px solid darkgrey;
}



/*Caixa*/

.caixa{
    margin: 10px 0;
    padding: 5px;
    background: url(../Imagens/Site_Noticias/fundo-caixa.png);
    margin-top: 10px;
}

h2{
    font-size: 1.1em;
    background: #294c71;
    padding: 5px;
    color:  white;
}

.caixa-conteudo{
    background-color: white;
    padding: 5px 9px;
    margin-top: 5px;
}

/*Navegação Lateral*/

#lateral ul a{
    font-size: 0.9em;
    text-decoration: none;
    display: block;
    color: black;
    padding: 3px;
    line-height: 30px;
    font-weight: 500;
}

#lateral a:hover{
    color: gray;
    background: url(../Imagens/Site_Noticias/marcador.png) no-repeat left center;
    padding-left: 20px;

}

/*Formatando Formulário*/

label{
    display: block;
    cursor: pointer; /*Deixa o nome como se fosse clicavel*/
}

input {
    padding: 5px;
    font-size: 0.9em;
    width: 125px;
}

input.submit{ /*O imput que tiver a classe submit vai receber as alterções*/
    margin-top: 3px;
    width: 80px;
    color: white;
    background-color: #b10333;
    border: 2px solid #870529;
}

/*Formatando lista de Notícias*/

#lista-noticia li {
    border-bottom: 1px solid #ccc;
    height: 65px;
    margin: 2px 0;
}

#lista-noticia li a img{
    float: left;
    padding-right: 5px;
    padding-top: 5px;
}

#lista-noticia li a{
    text-decoration: none;
    cursor: pointer;
}

#lista-noticia li a h3{
    color: cadetblue;
    font-size: 1em;
}

#lista-noticia li a p{
    margin-top: 4px;
    font-size: 0.9em;
    color: black;
}

#lista-noticia li:hover{
    background-color: #ccc;
}



/*Rodapé*/

#container-rodape{
    background: #294c71;
    padding: 20px;
}

#rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
}

/*Container*/

#container{
    width: 750px;
    margin: 0 auto;
}

/*Logo*/

#Logo{
    height: 66px;
    background: url(../Imagens/Site_Noticias/logo.png) no-repeat left;
    text-indent: -3000px;
}