*{
    margin: 0;
    padding: 0;
}

body{
    margin: 15px;
    background: url(../Imagens/Chale_Hotel/bg.png);
}

#container{
    max-width: 1180px;

}

#topo{
    background: #dbcd87;
    position: relative;
    height: 15.4em;
    min-height: 250px;
}

#area-menu{
    background: url(../Imagens/Chale_Hotel/topo-imagem-lateral.png) no-repeat;
    position: absolute;
    height: 250px;
    width: 450px;
    top: 0;
    right: 0;
}

#area-logo{
    background: url(../Imagens/Chale_Hotel/topo-imagem-principal.png) no-repeat;
    position: absolute;
    height: 250px;
    width: 100%;
    top: 0;
    left: 0;

}