*{
    margin: 0;
    padding: 0;
}

body{
    margin: 15px;
    background: url(../Imagens/Chale_Hotel/bg.png);
}

#container{
    max-width: 1180px;
    margin: 0 auto;

}

#topo{
    background: #dbcd87;
    position: relative;
    height: 15.4em;
    min-height: 250px;
}

#area-menu{
    background: url(../Imagens/Chale_Hotel/topo-imagem-lateral.png) no-repeat;
    position: absolute;
    height: 250px;
    width: 450px;
    top: 0;
    right: 0;
}

#conteudo-menu{
    margin: 15px;
    margin-left: 90px;
}

#menu-locais {
    border-bottom: 1px solid #8b8448;
    border-top: 1px solid #8b8448;
    padding: 5px 0;
    font-size: 0.8em;
    color: #8b8448;
}

#menu-locais .locais{
    float: left;
    line-height:1.9;
}

a.reserva{
    text-transform: uppercase;
    float: right;
    padding: 5px 10px;
    color: #fff5b0;
    background: #a29750;
}

a{
    text-decoration: none;
}

#menu{
    margin-top: 15px;
}

.depoimento{
    width: 226px;
    height: 164px;
    float: right;
}

ul#navegacao{
    float: left;
    list-style-type: none;
    
}

ul#navegacao a{
    text-transform: uppercase;
    line-height: 30px;
    font-size: 0.9em;
    padding: 5px;
    color: #6e672c;
}

ul#navegacao a:hover{
    background: #fdf6be;
}

#area-logo{
    background: url(../Imagens/Chale_Hotel/topo-imagem-principal.png) no-repeat;
    position: absolute;
    height: 250px;
    width: 100%;
    top: 0;
    left: 0;
    text-indent: -1000px;
}

#area-logo img{
    margin-left: 12px;
}