*{
    margin: 0;
    padding: 0;
}

body{
    margin: 15px;
    background: url(../Imagens/Chale_Hotel/bg.png);
}

#container{
    border: 1px solid red;

}

#topo{
    height: 15.4em;
    min-height: 250px;
}

#area-logo{
    background-color: blue;
    height: 250px;
    width: 450px;
}

#area-menu{
    background-color: red;
    height: 250px;
    width: 100%;
}