/*Estilizando Formulários*/

/*
label{
    display: block;
    cursor: pointer;
}

input[type="text"]{
    width: 100%;
    margin-bottom: 10px;
}

textarea{
    width: 100%;
    height: 5em;
}

fieldset{
    padding: 15px;
}
*/


/*Estilizando Formulários 2*/

body{
    background: url(../Imagens/fundo.jpg) no-repeat top left;
}

#Container{
    width: 500px;
    height: 300px;
    margin: 100px auto;
    /*O ultimo número significa a transparencia do objeto*/
    background: rgb(255, 255, 255, 0.2);
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;
    border-radius: 5px;
    text-align: center;
}

#Container img{
    margin-top: -60px;
    border-radius: 70px;
}

input{
    width: 80%;
    height: 2.3em;
    padding-left: 40px;
    font-size: 18px;
    margin-top: 15px;
    border: none;
    background-repeat: no-repeat;
    background-position: 10px;
    border-radius: 5px;
}


input.email{
    background-image: url(../Imagens/icone-usuario.png);
}

input.senha{
    background-image: url(../Imagens/icone-cadeado.png);
}

input.logar{
    width: 80%;
    height: 2.3em;
    color: white;
    padding-right: 30px;
    background-color: coral;
    border: 2px solid chocolate;
    border-radius: 5px;

    /*O To bottom indica que vai de cima para baixo o gradient*/
    background: linear-gradient(to bottom, #faa600, #f68a00);
}