body {
    background: #f4f2ec url(../../Imagens/Museu_Nacional/fundo.png) repeat-x;
    font: 12px;
}

#container {
    width: 1080px;
    margin: 0px auto;
}

/*------------------Área logo------------------*/

header {
    padding: 15px 0px;
    height: 55px;
}

/*
    a:visited: Link Visitado 
    a:link: Link Normal e não visitado
    a:active: Link quando é clicado
*/
a:visited, a:active, a:link { 
    color: #af670a;
    text-decoration: none; /*Tira o sublinhado do link*/
}

/*a:hover: Quando passamos o mouse por cima*/
a:hover {
    color: #227115;
}

/*Todos o Links (a) dentro de #logo serão modificados*/
#logo a {
    background: url(../../Imagens/Museu_Nacional/logo.png) no-repeat;
    width: 248px;
    height: 21px;
    display: block;
    text-indent: -9999px;
}

/*Todos o h1 dentro de #logo serão modificados*/
#logo h1 {
    float: left;
}

/*------------------Área Navegação------------------*/

nav ul{
    list-style: none; /*Tira os marcadores da lista não ordenada (ul)*/
    margin: 20px;
    float: right;
}

ul li{
    float: left;
}

nav ul li a:link {
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase; /*Transforma o texto em Uppercase*/
}

nav ul li a:hover {
    border-bottom: 1px solid #535858 /*Aplica borda só na parte de baixo*/
}

/*------------------Área Conteúdo------------------*/

.conteudo {
    width: 710px;
    float: left; /* Flutua o container para a esquerda*/
}

aside {
    width: 350px;
    float: right;
    background-color: rgb(192, 192, 166);
}

/*------------------Área Conteúdo------------------*/

/*Todos os section com o Id = visita serão modificados*/
section#visita {
    padding: 10px 25px 25px 25px;
}

section h4 {
    color: #86521a;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 3px;

}

fieldset {
    border: none;
}

legend { 
    display: none;
}

input {
    height: 20px;
    width: 80px;
    border: none;
    font-size: 1em; /*Aumenta o tamanho da font*/
    background-color: #fff;
}

input.campo {
    border: 1px solid #ada484;
}

input.button {
    width: 100%;
    height: 40px;
    font-size: 1.2em;
}
